/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     content: ".";
     display: block;
     clear: both;
     visibility: hidden;
     line-height: 0;
     height: 0;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  margin: 0px;
}


/******************************************
/* LAYOUT
/*******************************************/
header img {
  width: 5%;
}

nav, ul{
  display: flex;
  flex-direction: row;
}

ul{
  width: 50%;
}
nav li {
  margin-right: 2%;
}

footer {

}

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
